*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}
.box{
    display: grid;
    place-content: center;
    place-items: center;
    /* flex-direction: column; */
}
.proloader{
    animation: loader 0.8s 2.2s ease-in forwards;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background: rgb(138,78,255);
    background: linear-gradient(0deg, rgba(138,78,255,1) 35%, rgba(15,232,215,1) 100%);
    
}

@keyframes loader {
    to{
        left: -100%;
    }
  
}
@keyframes texted {
    to{
        opacity: 1;
    }
    
}
.preloader-text {
    animation: texted 3s ease-in-out;
    opacity: 0;
    animation-delay: 0.8s;
}

@keyframes img {
    0%{
        opacity: 1;
        width: 200px;
    }
    99%{opacity: 1;}
    100%{

        opacity: 0;
        /* width: 280px; */
    }
  
}
.mylogo{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: logo 1s;
}
.mylogo img {
    width: 280px;
    visibility: visible;
    opacity: 0;
    animation: img 1s;

    
}
.preloader-text h2{
    font-size: 40px;
    font-weight: 300;
    color: white !important;;
}
.preloader-text h1{
    font-size: 60px;
    font-weight: 700;
    color: white !important;;
}

section{
    width: 100vw;
    /* height: 100vh; */
    padding-bottom: 15px;
    margin-bottom: 10px;
    /* background-color: rgb(206, 55, 55); */
}
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    /* background-color: rgb(83, 6, 6); */

}
.text-wrapper{
    padding: 10px;
    /* background: red; */
    height: 100px;
    overflow: hidden;
}
.text-wrapper h1{
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    font-family: "Poppins", sans-serif;

}

.text-wrapper P{
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;

}

.chuks{
    /* background-color: rgb(232, 7, 7); */
    display: flex;
    /* width: 100vw; */
    padding: 10px;
    gap: 10px;
    /* margin-top: 10px; */
    flex-direction: column;

}
.box img{
    width: 300px;
}
.chuks .swiper-button-signup{
    width: 80vw;
    font-size: 20px;
    /* margin-top: 50px;   check back later   */
    font-weight: 500;
    height: 60px;
    color: white;
    border-radius: 16px;
    background-color: #7F3DFF;
    border: none;
    animation: check 3s ease linear ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes check {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.chuks .swiper-button-login{
    width: 80vw;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    color: #7F3DFF;
    border-radius: 16px;
    background-color: #EEE5FF;
    border: none;
}
#lastimg{
    width: 75%;
}
#adj{
    margin-top: 0px;
    margin-bottom: 10px;
}



li{
    list-style: none;
}
.swiper-ball div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:  #EEE5FF;

}

.swiper-ball .active{
    width: 15px;
    height: 15px;
    background-color: #7F3DFF;
}

ol.carousel-indicators {
    position: absolute;
    bottom: -10px;
    margin: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    width: auto;
}

ol.carousel-indicators li, ol.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
    margin: 5px;
    border-radius: 50%;
    border: 0;
    background: transparent;
}

ol.carousel-indicators li {
    /* background: rgb(126, 61, 255, 0.5); */
    background: #EEE5FF;
    margin-left: .5rem;
    width: .5rem;
    height: .5rem;
    margin-right: .5rem;
}

ol.carousel-indicators li.active {
    background: #7F3DFF;
}

@media only screen and (max-width: 480px) {
    .preloader-text h1{
        font-size: 12vw;
    }
    section{
        /* background: red; */
        width: 100vw;
        /* height: 100%; */
        padding-bottom: 15px;
        margin-bottom: 10px;
    }
    body{
        height: 100vh;
    }
    
.chuks{
    /* background-color: rgb(232, 7, 7); */
    /* margin-top: 50px; */
    }
    .text-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        /* background: red; */
        height: 200px;
        overflow: hidden;
    }
    .text-wrapper h1{
        color: black;
        text-align: center;
        font-weight: 800;
        font-size: 30px;
        width: 80vw;
        font-family: "Poppins", sans-serif;
    
    }
    
    .text-wrapper P{
        color: black;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        width: 80vw;
        font-family: "Poppins", sans-serif;
    
    }
}