*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    /* display: flex; */
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);

}
.signup-body{
    padding: 25px 20px 0px 20px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.form-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.nav-title{
    display: flex;
    justify-content: center;
    position: sticky;
    margin-bottom: 50px;
    margin-top: 20px;
}
.nav-title img{
    position: absolute;
    left: 0;
}
.section-for-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-title h1{
    font-weight: 500;
    font-size: 25px;
}


.input-group img{
    position: absolute;
    top: 18px;
    right: 30px;
    width: 25px;
}


.otp{
    display: flex;
    gap: 10px;
    align-items: center;
}
   
   .input {
    border: solid 1.5px transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #E0E2E9;
    font-size: 3rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   

   
   .input:focus, input:valid {
    outline: none;
    width: 40px;
    border-radius: 0;
    height: 40px;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    border: 1.5px solid transparent;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #000000;
    font-weight: 600;
   }



.purp{
    color: #7F3DFF;
}
.terms-checkbox{
    display: flex;
}

   .checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    user-select: none;
  }
  
  .custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 4px;
    outline: 1px solid #7F3DFF;
    border: 1px solid #7F3DFF;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .custom-checkbox:checked ~ .checkmark {
    background-color: #7F3DFF;
    box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
  }
  
  .custom-checkbox:checked ~ .checkmark:after {
    display: block;
  }
  
  @keyframes checkAnim {
    0% {
      height: 0;
    }
  
    100% {
      height: 10px;
    }
  }
  
  .custom-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
  }
  

.swiper-button-signup{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    /* margin-top: 2px; */
    color: white;
    border-radius: 16px;
    background-color: #7F3DFF;
    border: none;
}
.form-container h4{
    font-size: 22px;
    text-align: start;
    font-weight: 600;
    color: #7F3DFF;
}
.f1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.google-button-signup img{
    margin-right: 10px;
}
.google-button-signup{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    margin-top: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid grey;
    
}

.form-container h5{
    text-align: center;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
}

.form-container h5 span{
    color: #7F3DFF;
}
.form-container h1{
   text-align: start;
   font-size: 40px;
   font-weight: 600;
   color: #000000;
   line-height: 50px;
}
.form-container h3{
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    color: #7F3DFF;
    text-decoration: underline;
    line-height: 50px;
 }

 .signup-body img{
    width: 35%;
    margin-bottom: 30px;
    /* object-fit: cover; */
 }
 .signup-body h1{
    font-size: 32px;
    font-weight: 500;
    color: rgb(0, 0, 0) !important;;
 }  